@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

$firstFont: 'Inter';
$red: #FF5959;
$green: #52DF68;
$darkGrey:#343434;
$borderGrey: #4E4D4D;
$lightGrey: #969696;
$white: #FFFFFF;
$backgroundBlack: #292626;
$bodyBackground: #000000;
